
.card{
    text-align: center;
    border: 3px solid black;

}

#cls:hover{
    background-color:burlywood;
}

.navbar{
    border: 2px dotted black;
    text-align: center;
    background-color: rgb(241, 181, 89);
    margin-bottom: 20px; 
    height:30px;

}
.navbar a{
    padding: 30px;
    text-decoration: none;
}

.pic{
    text-align: center;
    margin: 20px auto;
    border: 2px solid black;
    border-radius:9px;
    height:500px;
    width: 300px;
}

.pic img{
    border-radius: 9px;
    width: 300px;
    height: 300px;
}

#h1{
    color: aqua;
}
#p1{
    color:blueviolet;
}
#p2{
    color:brown;
}

button{
    width: 100%;
}